<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//OTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfl.trading.mapper.FileMapper">
    <select id="getInfo" resultType="Files">
        select fileID,description from files
    </select>
</mapper>